strong {
    color: rgb(0, 0, 0);
font-size: large;
}

.Enrolled {
    
    background-color: #D9F6E8;
    padding: 5px;
    color: #008445;
    border-radius: 35px;
    color: w;

}

.enroll {
    padding-left: 5vw;
}

.profile {
    padding-left: 30px  ;
    padding-top: 30px  ;

}

.userInfo {
    display: flex;
    position: relative;
    padding-top: 10px ;
    padding: auto;
    align-items: center;
    text-align: center;
    padding-left: 5%;
}

.ProCss {
    padding-top: 85px;
    display: flex;
        
}

.statSty {
    padding-left: 2%;
    font-size: x-large;
    font-weight: bolder;
    color: black;
}

.image {
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.course-name {
    width: 100%;
 }

 .proPad {
    padding-left: 4%;
 }

 .dropdownSec {
    /* background-color: rgb(230, 230, 230); */
    color: rgb(0, 0, 0);
    padding-left: 2vw;
 }

 .dropHeader {
    padding-left: 1vw;
    
 }

 .dropCurr {
    display : flex
 }

 .curr {
    color: rgb(150, 148, 148);
    padding-left: 3vw;
 }
 

 .dropHeader1 {
  
    align-items: center;
    width: 100%;
    border-radius: 0%;
    display: flex;
    text-decoration: none;
  
 }

 .dropHeader1:hover {
    background-color: rgb(168, 167, 167);
    text-decoration: none;
}

 .dropHeader2 {
    display: flex;
    background-color: rgb(235, 235, 235);
    border-radius: 0%;
    padding-left: 3vw;
    text-decoration: none;
 }


