.gallery .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.chapter-components {
    padding-top: 120px;
}

img {

    border-radius: 20px;

}

.button_effect:active {
    color :rgb(255, 3, 3)
}